<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dakzilla>
            <intervention>
                <cache_folder>cache/dakzilla_intervention/</cache_folder>
                <default_quality>85</default_quality>
                <compress_images>0</compress_images>
            </intervention>
        </dakzilla>
    </default>
</config>
