<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="SuperClosure\Serializer">
        <arguments>
            <argument name="analyzer" xsi:type="object">SuperClosure\Analyzer\TokenAnalyzer</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Layout\Generator\Block">
        <plugin name="dakzilla_intervention_image_helper_plugin" type="Dakzilla\Intervention\Plugin\View\Layout\Generator\Block" />
    </type>
</config>